@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#section-1 {
  position: relative;
}

#section-1 .navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;

  min-height: 8vh;
  left: 0%;
  right: 0%;
  top: -0.03%;
  bottom: 90.66%;
  background: rgba(0, 0, 0, 0.5);
}

#section-1 .navbar .navbar-brand {
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-right: auto;
  color: #ffffff;
}

#section-1 .banner {
  background-image: url(assets/main-bg.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

#section-1 .banner .wrapper {
  width: auto;
  height: auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;
}

#section-1 .wrapper h1 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 83px;
  text-align: center;
  letter-spacing: 7px;
  text-transform: uppercase;
}

#section-1 .wrapper h3 {
  font-family: "Bebas Neue", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */

  letter-spacing: 2px;

  color: #ffffff;
}

#section-1 .wrapper .button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  width: 260px;
  height: 60px;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

#banner-button {
  position: absolute;
  width: 100%;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  background: none;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 22px;
  /* or 183% */

  text-align: center;
  text-transform: uppercase;
  color: white;
}

/* section 2 */

#section-2 {
  background-image: url(assets/the-games-bg.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
}

#section-2 .wrapper {
  width: 100%;
  height: 100%;
}

#section-2 .wrapper.left {
  flex-direction: column;
  padding-top: 15%;
  padding-left: 10%;
  color: white;
}

#section-2 .wrapper h1 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#section-2 .wrapper h3 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
}

.wrapper.right {
  margin: 0;
  padding: 0;
}

.carousel {
  width: 858px;
  height: 477px;
  padding-top: 15%;
  margin-left: -10%;
}

.carousel-item img {
  object-fit: cover;
  justify-content: center;
}

/* section 3 */

#section-3 {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("assets/features.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

#section-3 .wrapper.right {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("../images/background-3-1.png");
  background-repeat: no-repeat;
  background-position: top -2.5px center;
  background-size: 100% 105%;
  display: flex;
  justify-content: flex-end;
}

#section-3 .wrapper.right .textbox {
  width: 40%;
  height: auto;
  padding: 10% 5%;
}

#section-3 .wrapper.right .textbox h1 {
  text-transform: uppercase;
  font-size: 42px;
  margin: 0;
  margin-top: 15px;
}

#section-3 .wrapper.right .bottom-text {
  width: 100%;
  height: auto;
  position: relative;
}

#section-3 .wrapper.right .bottom-text h1 {
  color: #ffb548;
  text-transform: uppercase;
}

#section-3 .wrapper.right .bottom-text .sbox {
  width: 100%;
  height: auto;
  position: relative;
  margin: 10px;
}

#section-3 .wrapper.right .bottom-text .sbox .text {
  display: flex;
  align-items: center;
}

#section-3 .wrapper.right .bottom-text .sbox p {
  padding-left: 30px;
  padding-right: 25px;
}

/* section 4 */

#section-4 {
  background-image: url(assets/requirements.png);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
}

#section-4 .wrapper {
  width: 100%;
  height: 100%;
}

#section-4 .wrapper.left {
  color: white;
  height: auto;
  width: auto;
  /* position: absolute;
  top: 25%;
  left: 5%; */
  padding-top: 10%;
  padding-left: 10%;
  border: white;
}

#section-4 .wrapper.left .textbox {
  display: flex;
  width: max-content;
  height: auto;
}

#section-4 .wrapper .textbox h1 {
  width: min-content;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#section-4 .wrapper .textbox h3 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
}

#section-4 .table {
  margin-top: 100px;
  width: 574px;
  height: 400px;
}

#section-4 .table h1 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  /* identical to box height */

  letter-spacing: 2px;

  color: #ffb548;
}

#section-4 .table h3 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: white;
}

/* section 5 */

#section-5 {
  background-image: url(assets/score.png);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
}

#section-5 .wrapper {
  width: 100%;
  height: 100;
}

#section-5 .wrapper.left {
  position: relative;
  padding-top: 15%;
  padding-left: 10%;
  color: white;
}

#section-5 .wrapper.left .textbox h1 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#section-5 .wrapper.left .textbox p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

#section-5 .wrapper.left .textbox .btn {
  padding: 20px;
  margin-top: 10%;
  justify-content: center;
  color: black;
  text-decoration: none;
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  width: 260px;
  text-align: center;
  text-transform: lowercase;
  border-radius: 5px;
  font-weight: bold;
}

#section-5 .wrapper.right {
  height: auto;
  position: relative;
}

#section-5 .wrapper.right .box {
  background: rgba(255, 255, 255, 0.08);

  border-radius: 15px;
  max-width: 493px;
  width: auto;
  height: auto;
  padding: 15px;
  padding-top: 0;
  margin: 30px;
  /* position: relative; */
}

#section-5 .wrapper.right .box .box-content {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

#section-5 .wrapper.right .box .twitter-logo {
  position: absolute;
  right: 10px;
  margin-top: 20px;
  height: auto;
  width: 18px;
}

#section-5 .wrapper.right .box .profil-pict {
  clip-path: circle();
  width: 60px;
  height: auto;
}

#section-5 .wrapper.right .box .box-content h1 {
  position: relative;
  height: auto;
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */

  letter-spacing: 2px;

  color: #ffb548;
}

#section-5 .wrapper.right .textbox h3 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */

  text-align: justify;

  color: #ffffff;

  opacity: 0.5;
}

#section-5 .wrapper.right .textbox .quotes {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}

#section-5 .wrapper.right .textbox .dates {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.5;
}

/* section 6 */
#section-6 {
  width: 100%;
  height: auto;
  position: relative;
  background-color: #080a0b;
  color: #fff;
}

#section-6 .wrapper-s {
  width: auto;
  height: auto;
  padding: 5% 10%;
  display: flex;
}

#section-6 .wrapper-s .wrapper {
  width: 100%;
  height: auto;
  position: relative;
}

#section-6 .wrapper-s .wrapper.left {
  width: 40%;
  position: relative;
}

#section-6 .wrapper-s .wrapper.left img {
  width: 100%;
}

#section-6 .wrapper-s .wrapper.right {
  width: 60%;
  position: relative;
  padding: 5% 2.5%;
  display: flex;
  align-items: center;
}

#section-6 .wrapper-s .wrapper.right .title-box {
  margin-bottom: 20px;
}

#section-6 .wrapper-s .wrapper.right .title-box h1 {
  margin: 0;
  margin-top: 10px;
  font-size: 48px;
  text-transform: uppercase;
}

#section-6 .wrapper-s .wrapper.right .description-box {
  padding-right: 7.5%;
  font-size: 14px;
}

#section-6 .wrapper-s .wrapper.right .subs-box {
  width: auto;
  position: relative;
  display: flex;
  margin-top: 25px;
}

#section-6 .wrapper-s .wrapper.right .subs-box .email-box {
  width: 100%;
  height: 60.25px;
  display: flex;
  flex-direction: column;
  margin-right: 25px;
  background-color: #171717;
  padding: 0 15px;
  border-radius: 5px;
}

#section-6 .wrapper-s .wrapper.right .subs-box .email-box label {
  /* margin-bottom: 5px; */
  font-size: 14px;
  color: #5f5f5f;
}

#section-6 .wrapper-s .wrapper.right .subs-box .email-box input {
  padding: 5px 1px;
  background-color: unset;
  border: none;
  outline: none;
  color: #ffb548;
  font-size: 18px;
}

#section-6 .wrapper-s .wrapper.right .subs-box button {
  width: 50%;
  background-color: #ffb548;
  color: #171717;
  font-weight: 1000;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 10px;
}

/* footer */

footer {
  background-color: black;
  color: white;
  width: 100%;
  margin: auto;
}

#footer .main {
  display: flex;
  justify-content: space-between;
  padding: 1.8rem;

  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#footer a {
  color: white;
  text-decoration: none;
}

#footer a a:hover {
  text-decoration: underline;
}

#footer li {
  list-style: none;
  display: inline;
  padding: 0 15px;
  margin: 15px;
}

#footer .bottom {
  display: flex;
  justify-content: space-between;
  padding: 1.8rem;
}

.copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.5;
}

.policy {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
